Connected Services/GameService/GameServiceImplementation.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://tempuri.org/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" name="GameServiceImplementation" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="NetTcpBinding_IGameService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1" />
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8087/?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8087/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/LabyrinthCommon" />
      <xsd:import schemaLocation="http://localhost:8087/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8087/?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/System" />
      <xsd:import schemaLocation="http://localhost:8087/?xsd=xsd4" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IGameService_Start_InputMessage">
    <wsdl:part name="parameters" element="tns:Start" />
  </wsdl:message>
  <wsdl:message name="IGameService_Start_OutputMessage">
    <wsdl:part name="parameters" element="tns:StartResponse" />
  </wsdl:message>
  <wsdl:message name="IGameService_Start_LabyrinthExceptionFault_FaultMessage">
    <wsdl:part xmlns:q1="http://schemas.datacontract.org/2004/07/LabyrinthCommon" name="detail" element="q1:LabyrinthException" />
  </wsdl:message>
  <wsdl:message name="IGameService_JoinToGame_InputMessage">
    <wsdl:part name="parameters" element="tns:JoinToGame" />
  </wsdl:message>
  <wsdl:message name="IGameService_RemoveUserFromGame_InputMessage">
    <wsdl:part name="parameters" element="tns:RemoveUserFromGame" />
  </wsdl:message>
  <wsdl:message name="IGameService_RemoveUserFromGame_OutputMessage">
    <wsdl:part name="parameters" element="tns:RemoveUserFromGameResponse" />
  </wsdl:message>
  <wsdl:message name="IGameService_RemoveUserFromGame_LabyrinthExceptionFault_FaultMessage">
    <wsdl:part xmlns:q2="http://schemas.datacontract.org/2004/07/LabyrinthCommon" name="detail" element="q2:LabyrinthException" />
  </wsdl:message>
  <wsdl:message name="IGameService_ChangeGameStatus_InputMessage">
    <wsdl:part name="parameters" element="tns:ChangeGameStatus" />
  </wsdl:message>
  <wsdl:message name="IGameService_ChangeGameStatus_OutputMessage">
    <wsdl:part name="parameters" element="tns:ChangeGameStatusResponse" />
  </wsdl:message>
  <wsdl:message name="IGameService_SendGameBoardToLobby_InputMessage">
    <wsdl:part name="parameters" element="tns:SendGameBoardToLobby" />
  </wsdl:message>
  <wsdl:message name="IGameService_SelectCharacter_InputMessage">
    <wsdl:part name="parameters" element="tns:SelectCharacter" />
  </wsdl:message>
  <wsdl:message name="IGameService_AsignTurn_InputMessage">
    <wsdl:part name="parameters" element="tns:AsignTurn" />
  </wsdl:message>
  <wsdl:message name="IGameService_MovePlayer_InputMessage">
    <wsdl:part name="parameters" element="tns:MovePlayer" />
  </wsdl:message>
  <wsdl:message name="IGameService_MoveRow_InputMessage">
    <wsdl:part name="parameters" element="tns:MoveRow" />
  </wsdl:message>
  <wsdl:message name="IGameService_MoveColumn_InputMessage">
    <wsdl:part name="parameters" element="tns:MoveColumn" />
  </wsdl:message>
  <wsdl:message name="IGameService_RotateTile_InputMessage">
    <wsdl:part name="parameters" element="tns:RotateTile" />
  </wsdl:message>
  <wsdl:message name="IGameService_ReceiveGameBoard_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:ReceiveGameBoard" />
  </wsdl:message>
  <wsdl:message name="IGameService_ReceiveGameBoard_InputCallbackMessage">
    <wsdl:part name="parameters" element="tns:ReceiveGameBoardResponse" />
  </wsdl:message>
  <wsdl:message name="IGameService_NotifyTurn_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:NotifyTurn" />
  </wsdl:message>
  <wsdl:message name="IGameService_NotifyTurn_InputCallbackMessage">
    <wsdl:part name="parameters" element="tns:NotifyTurnResponse" />
  </wsdl:message>
  <wsdl:message name="IGameService_NotifyPlayerHasJoined_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:NotifyPlayerHasJoined" />
  </wsdl:message>
  <wsdl:message name="IGameService_NotifyPlayerHasJoined_InputCallbackMessage">
    <wsdl:part name="parameters" element="tns:NotifyPlayerHasJoinedResponse" />
  </wsdl:message>
  <wsdl:message name="IGameService_MovePlayerOnTile_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:MovePlayerOnTile" />
  </wsdl:message>
  <wsdl:message name="IGameService_MovePlayerOnTile_InputCallbackMessage">
    <wsdl:part name="parameters" element="tns:MovePlayerOnTileResponse" />
  </wsdl:message>
  <wsdl:message name="IGameService_MoveRowOnBoard_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:MoveRowOnBoard" />
  </wsdl:message>
  <wsdl:message name="IGameService_MoveRowOnBoard_InputCallbackMessage">
    <wsdl:part name="parameters" element="tns:MoveRowOnBoardResponse" />
  </wsdl:message>
  <wsdl:message name="IGameService_MoveColumnOnBoard_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:MoveColumnOnBoard" />
  </wsdl:message>
  <wsdl:message name="IGameService_MoveColumnOnBoard_InputCallbackMessage">
    <wsdl:part name="parameters" element="tns:MoveColumnOnBoardResponse" />
  </wsdl:message>
  <wsdl:message name="IGameService_UpdatePlayerCharacter_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:UpdatePlayerCharacter" />
  </wsdl:message>
  <wsdl:message name="IGameService_UpdatePlayerCharacter_InputCallbackMessage">
    <wsdl:part name="parameters" element="tns:UpdatePlayerCharacterResponse" />
  </wsdl:message>
  <wsdl:message name="IGameService_BroadcastExtraTileRotation_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:BroadcastExtraTileRotation" />
  </wsdl:message>
  <wsdl:message name="IGameService_BroadcastExtraTileRotation_InputCallbackMessage">
    <wsdl:part name="parameters" element="tns:BroadcastExtraTileRotationResponse" />
  </wsdl:message>
  <wsdl:portType name="IGameService">
    <wsdl:operation name="Start">
      <wsdl:input wsaw:Action="http://tempuri.org/IGameService/Start" message="tns:IGameService_Start_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGameService/StartResponse" message="tns:IGameService_Start_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IGameService/StartLabyrinthExceptionFault" name="LabyrinthExceptionFault" message="tns:IGameService_Start_LabyrinthExceptionFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="JoinToGame">
      <wsdl:input wsaw:Action="http://tempuri.org/IGameService/JoinToGame" message="tns:IGameService_JoinToGame_InputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RemoveUserFromGame">
      <wsdl:input wsaw:Action="http://tempuri.org/IGameService/RemoveUserFromGame" message="tns:IGameService_RemoveUserFromGame_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGameService/RemoveUserFromGameResponse" message="tns:IGameService_RemoveUserFromGame_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IGameService/RemoveUserFromGameLabyrinthExceptionFault" name="LabyrinthExceptionFault" message="tns:IGameService_RemoveUserFromGame_LabyrinthExceptionFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="ChangeGameStatus">
      <wsdl:input wsaw:Action="http://tempuri.org/IGameService/ChangeGameStatus" message="tns:IGameService_ChangeGameStatus_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGameService/ChangeGameStatusResponse" message="tns:IGameService_ChangeGameStatus_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SendGameBoardToLobby">
      <wsdl:input wsaw:Action="http://tempuri.org/IGameService/SendGameBoardToLobby" message="tns:IGameService_SendGameBoardToLobby_InputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SelectCharacter">
      <wsdl:input wsaw:Action="http://tempuri.org/IGameService/SelectCharacter" message="tns:IGameService_SelectCharacter_InputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AsignTurn">
      <wsdl:input wsaw:Action="http://tempuri.org/IGameService/AsignTurn" message="tns:IGameService_AsignTurn_InputMessage" />
    </wsdl:operation>
    <wsdl:operation name="MovePlayer">
      <wsdl:input wsaw:Action="http://tempuri.org/IGameService/MovePlayer" message="tns:IGameService_MovePlayer_InputMessage" />
    </wsdl:operation>
    <wsdl:operation name="MoveRow">
      <wsdl:input wsaw:Action="http://tempuri.org/IGameService/MoveRow" message="tns:IGameService_MoveRow_InputMessage" />
    </wsdl:operation>
    <wsdl:operation name="MoveColumn">
      <wsdl:input wsaw:Action="http://tempuri.org/IGameService/MoveColumn" message="tns:IGameService_MoveColumn_InputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RotateTile">
      <wsdl:input wsaw:Action="http://tempuri.org/IGameService/RotateTile" message="tns:IGameService_RotateTile_InputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ReceiveGameBoard">
      <wsdl:output wsaw:Action="http://tempuri.org/IGameService/ReceiveGameBoard" message="tns:IGameService_ReceiveGameBoard_OutputCallbackMessage" />
      <wsdl:input wsaw:Action="http://tempuri.org/IGameService/ReceiveGameBoardResponse" message="tns:IGameService_ReceiveGameBoard_InputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation name="NotifyTurn">
      <wsdl:output wsaw:Action="http://tempuri.org/IGameService/NotifyTurn" message="tns:IGameService_NotifyTurn_OutputCallbackMessage" />
      <wsdl:input wsaw:Action="http://tempuri.org/IGameService/NotifyTurnResponse" message="tns:IGameService_NotifyTurn_InputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation name="NotifyPlayerHasJoined">
      <wsdl:output wsaw:Action="http://tempuri.org/IGameService/NotifyPlayerHasJoined" message="tns:IGameService_NotifyPlayerHasJoined_OutputCallbackMessage" />
      <wsdl:input wsaw:Action="http://tempuri.org/IGameService/NotifyPlayerHasJoinedResponse" message="tns:IGameService_NotifyPlayerHasJoined_InputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation name="MovePlayerOnTile">
      <wsdl:output wsaw:Action="http://tempuri.org/IGameService/MovePlayerOnTile" message="tns:IGameService_MovePlayerOnTile_OutputCallbackMessage" />
      <wsdl:input wsaw:Action="http://tempuri.org/IGameService/MovePlayerOnTileResponse" message="tns:IGameService_MovePlayerOnTile_InputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation name="MoveRowOnBoard">
      <wsdl:output wsaw:Action="http://tempuri.org/IGameService/MoveRowOnBoard" message="tns:IGameService_MoveRowOnBoard_OutputCallbackMessage" />
      <wsdl:input wsaw:Action="http://tempuri.org/IGameService/MoveRowOnBoardResponse" message="tns:IGameService_MoveRowOnBoard_InputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation name="MoveColumnOnBoard">
      <wsdl:output wsaw:Action="http://tempuri.org/IGameService/MoveColumnOnBoard" message="tns:IGameService_MoveColumnOnBoard_OutputCallbackMessage" />
      <wsdl:input wsaw:Action="http://tempuri.org/IGameService/MoveColumnOnBoardResponse" message="tns:IGameService_MoveColumnOnBoard_InputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdatePlayerCharacter">
      <wsdl:output wsaw:Action="http://tempuri.org/IGameService/UpdatePlayerCharacter" message="tns:IGameService_UpdatePlayerCharacter_OutputCallbackMessage" />
      <wsdl:input wsaw:Action="http://tempuri.org/IGameService/UpdatePlayerCharacterResponse" message="tns:IGameService_UpdatePlayerCharacter_InputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation name="BroadcastExtraTileRotation">
      <wsdl:output wsaw:Action="http://tempuri.org/IGameService/BroadcastExtraTileRotation" message="tns:IGameService_BroadcastExtraTileRotation_OutputCallbackMessage" />
      <wsdl:input wsaw:Action="http://tempuri.org/IGameService/BroadcastExtraTileRotationResponse" message="tns:IGameService_BroadcastExtraTileRotation_InputCallbackMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="NetTcpBinding_IGameService" type="tns:IGameService">
    <wsp:PolicyReference URI="#NetTcpBinding_IGameService_policy" />
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="Start">
      <soap12:operation soapAction="http://tempuri.org/IGameService/Start" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="LabyrinthExceptionFault">
        <soap12:fault use="literal" name="LabyrinthExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="JoinToGame">
      <soap12:operation soapAction="http://tempuri.org/IGameService/JoinToGame" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="RemoveUserFromGame">
      <soap12:operation soapAction="http://tempuri.org/IGameService/RemoveUserFromGame" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="LabyrinthExceptionFault">
        <soap12:fault use="literal" name="LabyrinthExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="ChangeGameStatus">
      <soap12:operation soapAction="http://tempuri.org/IGameService/ChangeGameStatus" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendGameBoardToLobby">
      <soap12:operation soapAction="http://tempuri.org/IGameService/SendGameBoardToLobby" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="SelectCharacter">
      <soap12:operation soapAction="http://tempuri.org/IGameService/SelectCharacter" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="AsignTurn">
      <soap12:operation soapAction="http://tempuri.org/IGameService/AsignTurn" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="MovePlayer">
      <soap12:operation soapAction="http://tempuri.org/IGameService/MovePlayer" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="MoveRow">
      <soap12:operation soapAction="http://tempuri.org/IGameService/MoveRow" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="MoveColumn">
      <soap12:operation soapAction="http://tempuri.org/IGameService/MoveColumn" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="RotateTile">
      <soap12:operation soapAction="http://tempuri.org/IGameService/RotateTile" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="ReceiveGameBoard">
      <soap12:operation soapAction="http://tempuri.org/IGameService/ReceiveGameBoard" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="NotifyTurn">
      <soap12:operation soapAction="http://tempuri.org/IGameService/NotifyTurn" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="NotifyPlayerHasJoined">
      <soap12:operation soapAction="http://tempuri.org/IGameService/NotifyPlayerHasJoined" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MovePlayerOnTile">
      <soap12:operation soapAction="http://tempuri.org/IGameService/MovePlayerOnTile" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MoveRowOnBoard">
      <soap12:operation soapAction="http://tempuri.org/IGameService/MoveRowOnBoard" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MoveColumnOnBoard">
      <soap12:operation soapAction="http://tempuri.org/IGameService/MoveColumnOnBoard" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdatePlayerCharacter">
      <soap12:operation soapAction="http://tempuri.org/IGameService/UpdatePlayerCharacter" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BroadcastExtraTileRotation">
      <soap12:operation soapAction="http://tempuri.org/IGameService/BroadcastExtraTileRotation" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="GameServiceImplementation">
    <wsdl:port name="NetTcpBinding_IGameService" binding="tns:NetTcpBinding_IGameService">
      <soap12:address location="net.tcp://localhost:8097/GameService" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://localhost:8097/GameService</wsa10:Address>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>