Connected Services/MenuManagementService/MenuManagementServiceImplementation.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://tempuri.org/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" name="MenuManagementServiceImplementation" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="NetTcpBinding_IMenuManagementService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1" />
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <msf:WindowsTransportSecurity xmlns:msf="http://schemas.microsoft.com/ws/2006/05/framing/policy">
                  <msf:ProtectionLevel>EncryptAndSign</msf:ProtectionLevel>
                </msf:WindowsTransportSecurity>
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8085/?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8085/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8085/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/LabyrinthCommon" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IMenuManagementService_Start_InputMessage">
    <wsdl:part name="parameters" element="tns:Start" />
  </wsdl:message>
  <wsdl:message name="IMenuManagementService_Start_OutputMessage">
    <wsdl:part name="parameters" element="tns:StartResponse" />
  </wsdl:message>
  <wsdl:message name="IMenuManagementService_End_InputMessage">
    <wsdl:part name="parameters" element="tns:End" />
  </wsdl:message>
  <wsdl:message name="IMenuManagementService_End_OutputMessage">
    <wsdl:part name="parameters" element="tns:EndResponse" />
  </wsdl:message>
  <wsdl:message name="IMenuManagementService_InviteFriend_InputMessage">
    <wsdl:part name="parameters" element="tns:InviteFriend" />
  </wsdl:message>
  <wsdl:message name="IMenuManagementService_InviteFriend_OutputMessage">
    <wsdl:part name="parameters" element="tns:InviteFriendResponse" />
  </wsdl:message>
  <wsdl:message name="IMenuManagementService_AttendInvitation_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:AttendInvitation" />
  </wsdl:message>
  <wsdl:message name="IMenuManagementService_AttendInvitation_InputCallbackMessage">
    <wsdl:part name="parameters" element="tns:AttendInvitationResponse" />
  </wsdl:message>
  <wsdl:portType name="IMenuManagementService">
    <wsdl:operation name="Start">
      <wsdl:input wsaw:Action="http://tempuri.org/IMenuManagementService/Start" message="tns:IMenuManagementService_Start_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMenuManagementService/StartResponse" message="tns:IMenuManagementService_Start_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="End">
      <wsdl:input wsaw:Action="http://tempuri.org/IMenuManagementService/End" message="tns:IMenuManagementService_End_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMenuManagementService/EndResponse" message="tns:IMenuManagementService_End_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="InviteFriend">
      <wsdl:input wsaw:Action="http://tempuri.org/IMenuManagementService/InviteFriend" message="tns:IMenuManagementService_InviteFriend_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMenuManagementService/InviteFriendResponse" message="tns:IMenuManagementService_InviteFriend_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AttendInvitation">
      <wsdl:output wsaw:Action="http://tempuri.org/IMenuManagementService/AttendInvitation" message="tns:IMenuManagementService_AttendInvitation_OutputCallbackMessage" />
      <wsdl:input wsaw:Action="http://tempuri.org/IMenuManagementService/AttendInvitationResponse" message="tns:IMenuManagementService_AttendInvitation_InputCallbackMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="NetTcpBinding_IMenuManagementService" type="tns:IMenuManagementService">
    <wsp:PolicyReference URI="#NetTcpBinding_IMenuManagementService_policy" />
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="Start">
      <soap12:operation soapAction="http://tempuri.org/IMenuManagementService/Start" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="End">
      <soap12:operation soapAction="http://tempuri.org/IMenuManagementService/End" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InviteFriend">
      <soap12:operation soapAction="http://tempuri.org/IMenuManagementService/InviteFriend" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AttendInvitation">
      <soap12:operation soapAction="http://tempuri.org/IMenuManagementService/AttendInvitation" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="MenuManagementServiceImplementation">
    <wsdl:port name="NetTcpBinding_IMenuManagementService" binding="tns:NetTcpBinding_IMenuManagementService">
      <soap12:address location="net.tcp://localhost:8095/MenuManagementService" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://localhost:8095/MenuManagementService</wsa10:Address>
        <Identity xmlns="http://schemas.xmlsoap.org/ws/2006/02/addressingidentity">
          <Upn>ROGUEZ\ivanr</Upn>
        </Identity>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>