Connected Services/CatalogManagementService/CatalogManagementServiceImplementation.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://tempuri.org/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" name="CatalogManagementServiceImplementation" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="NetTcpBinding_ICatalogManagement_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1" />
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <msf:WindowsTransportSecurity xmlns:msf="http://schemas.microsoft.com/ws/2006/05/framing/policy">
                  <msf:ProtectionLevel>EncryptAndSign</msf:ProtectionLevel>
                </msf:WindowsTransportSecurity>
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8082/?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8082/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/LabyrinthCommon" />
      <xsd:import schemaLocation="http://localhost:8082/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ICatalogManagement_AddCountry_InputMessage">
    <wsdl:part name="parameters" element="tns:AddCountry" />
  </wsdl:message>
  <wsdl:message name="ICatalogManagement_AddCountry_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddCountryResponse" />
  </wsdl:message>
  <wsdl:message name="ICatalogManagement_AddCountry_LabyrinthExceptionFault_FaultMessage">
    <wsdl:part xmlns:q1="http://schemas.datacontract.org/2004/07/LabyrinthCommon" name="detail" element="q1:LabyrinthException" />
  </wsdl:message>
  <wsdl:message name="ICatalogManagement_DeleteAllCountries_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteAllCountries" />
  </wsdl:message>
  <wsdl:message name="ICatalogManagement_DeleteAllCountries_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteAllCountriesResponse" />
  </wsdl:message>
  <wsdl:message name="ICatalogManagement_DeleteAllCountries_LabyrinthExceptionFault_FaultMessage">
    <wsdl:part xmlns:q2="http://schemas.datacontract.org/2004/07/LabyrinthCommon" name="detail" element="q2:LabyrinthException" />
  </wsdl:message>
  <wsdl:message name="ICatalogManagement_GetAllCountries_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllCountries" />
  </wsdl:message>
  <wsdl:message name="ICatalogManagement_GetAllCountries_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllCountriesResponse" />
  </wsdl:message>
  <wsdl:message name="ICatalogManagement_GetAllCountries_LabyrinthExceptionFault_FaultMessage">
    <wsdl:part xmlns:q3="http://schemas.datacontract.org/2004/07/LabyrinthCommon" name="detail" element="q3:LabyrinthException" />
  </wsdl:message>
  <wsdl:message name="ICatalogManagement_GetCountryById_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCountryById" />
  </wsdl:message>
  <wsdl:message name="ICatalogManagement_GetCountryById_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCountryByIdResponse" />
  </wsdl:message>
  <wsdl:message name="ICatalogManagement_GetCountryById_LabyrinthExceptionFault_FaultMessage">
    <wsdl:part xmlns:q4="http://schemas.datacontract.org/2004/07/LabyrinthCommon" name="detail" element="q4:LabyrinthException" />
  </wsdl:message>
  <wsdl:message name="ICatalogManagement_GetStatsByUserId_InputMessage">
    <wsdl:part name="parameters" element="tns:GetStatsByUserId" />
  </wsdl:message>
  <wsdl:message name="ICatalogManagement_GetStatsByUserId_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetStatsByUserIdResponse" />
  </wsdl:message>
  <wsdl:message name="ICatalogManagement_GetStatsByUserId_LabyrinthExceptionFault_FaultMessage">
    <wsdl:part xmlns:q5="http://schemas.datacontract.org/2004/07/LabyrinthCommon" name="detail" element="q5:LabyrinthException" />
  </wsdl:message>
  <wsdl:portType name="ICatalogManagement">
    <wsdl:operation name="AddCountry">
      <wsdl:input wsaw:Action="http://tempuri.org/ICatalogManagement/AddCountry" message="tns:ICatalogManagement_AddCountry_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICatalogManagement/AddCountryResponse" message="tns:ICatalogManagement_AddCountry_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/ICatalogManagement/AddCountryLabyrinthExceptionFault" name="LabyrinthExceptionFault" message="tns:ICatalogManagement_AddCountry_LabyrinthExceptionFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteAllCountries">
      <wsdl:input wsaw:Action="http://tempuri.org/ICatalogManagement/DeleteAllCountries" message="tns:ICatalogManagement_DeleteAllCountries_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICatalogManagement/DeleteAllCountriesResponse" message="tns:ICatalogManagement_DeleteAllCountries_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/ICatalogManagement/DeleteAllCountriesLabyrinthExceptionFault" name="LabyrinthExceptionFault" message="tns:ICatalogManagement_DeleteAllCountries_LabyrinthExceptionFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllCountries">
      <wsdl:input wsaw:Action="http://tempuri.org/ICatalogManagement/GetAllCountries" message="tns:ICatalogManagement_GetAllCountries_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICatalogManagement/GetAllCountriesResponse" message="tns:ICatalogManagement_GetAllCountries_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/ICatalogManagement/GetAllCountriesLabyrinthExceptionFault" name="LabyrinthExceptionFault" message="tns:ICatalogManagement_GetAllCountries_LabyrinthExceptionFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCountryById">
      <wsdl:input wsaw:Action="http://tempuri.org/ICatalogManagement/GetCountryById" message="tns:ICatalogManagement_GetCountryById_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICatalogManagement/GetCountryByIdResponse" message="tns:ICatalogManagement_GetCountryById_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/ICatalogManagement/GetCountryByIdLabyrinthExceptionFault" name="LabyrinthExceptionFault" message="tns:ICatalogManagement_GetCountryById_LabyrinthExceptionFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetStatsByUserId">
      <wsdl:input wsaw:Action="http://tempuri.org/ICatalogManagement/GetStatsByUserId" message="tns:ICatalogManagement_GetStatsByUserId_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICatalogManagement/GetStatsByUserIdResponse" message="tns:ICatalogManagement_GetStatsByUserId_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/ICatalogManagement/GetStatsByUserIdLabyrinthExceptionFault" name="LabyrinthExceptionFault" message="tns:ICatalogManagement_GetStatsByUserId_LabyrinthExceptionFault_FaultMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="NetTcpBinding_ICatalogManagement" type="tns:ICatalogManagement">
    <wsp:PolicyReference URI="#NetTcpBinding_ICatalogManagement_policy" />
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="AddCountry">
      <soap12:operation soapAction="http://tempuri.org/ICatalogManagement/AddCountry" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="LabyrinthExceptionFault">
        <soap12:fault use="literal" name="LabyrinthExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="DeleteAllCountries">
      <soap12:operation soapAction="http://tempuri.org/ICatalogManagement/DeleteAllCountries" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="LabyrinthExceptionFault">
        <soap12:fault use="literal" name="LabyrinthExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetAllCountries">
      <soap12:operation soapAction="http://tempuri.org/ICatalogManagement/GetAllCountries" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="LabyrinthExceptionFault">
        <soap12:fault use="literal" name="LabyrinthExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetCountryById">
      <soap12:operation soapAction="http://tempuri.org/ICatalogManagement/GetCountryById" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="LabyrinthExceptionFault">
        <soap12:fault use="literal" name="LabyrinthExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetStatsByUserId">
      <soap12:operation soapAction="http://tempuri.org/ICatalogManagement/GetStatsByUserId" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="LabyrinthExceptionFault">
        <soap12:fault use="literal" name="LabyrinthExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CatalogManagementServiceImplementation">
    <wsdl:port name="NetTcpBinding_ICatalogManagement" binding="tns:NetTcpBinding_ICatalogManagement">
      <soap12:address location="net.tcp://localhost:8092/CatalogManagementService" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://localhost:8092/CatalogManagementService</wsa10:Address>
        <Identity xmlns="http://schemas.xmlsoap.org/ws/2006/02/addressingidentity">
          <Upn>ROGUEZ\ivanr</Upn>
        </Identity>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>