Connected Services/CatalogManagementService/item1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8082/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/CatalogManagementService" />
  <xs:element name="GetAllCountries">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllCountriesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/CatalogManagementService" minOccurs="0" name="GetAllCountriesResult" nillable="true" type="q1:ArrayOfTransferCountry" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCountryById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idCountry" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCountryByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/CatalogManagementService" minOccurs="0" name="GetCountryByIdResult" nillable="true" type="q2:TransferCountry" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStatsByUserId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStatsByUserIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/CatalogManagementService" minOccurs="0" name="GetStatsByUserIdResult" nillable="true" type="q3:TransferStats" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>