Connected Services/CatalogManagementService/item32.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/LabyrinthCommon" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/LabyrinthCommon" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="TransferStats">
    <xs:sequence>
      <xs:element minOccurs="0" name="GamesPlayed" type="xs:int" />
      <xs:element minOccurs="0" name="GamesWon" type="xs:int" />
      <xs:element minOccurs="0" name="StatId" type="xs:int" />
      <xs:element minOccurs="0" name="UserId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TransferStats" nillable="true" type="tns:TransferStats" />
  <xs:complexType name="LabyrinthException">
    <xs:sequence>
      <xs:element minOccurs="0" name="ErrorCode" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="LabyrinthException" nillable="true" type="tns:LabyrinthException" />
</xs:schema>