Connected Services/CatalogManagementService/item.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/DataAccess" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/DataAccess" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfCountry">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Country" nillable="true" type="tns:Country" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCountry" nillable="true" type="tns:ArrayOfCountry" />
  <xs:complexType name="Country">
    <xs:sequence>
      <xs:element minOccurs="0" name="User" nillable="true" type="tns:ArrayOfUser" />
      <xs:element minOccurs="0" name="idCountry" type="xs:int" />
      <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Country" nillable="true" type="tns:Country" />
  <xs:complexType name="ArrayOfUser">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="User" nillable="true" type="tns:User" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfUser" nillable="true" type="tns:ArrayOfUser" />
  <xs:complexType name="User">
    <xs:sequence>
      <xs:element minOccurs="0" name="Country" nillable="true" type="tns:Country" />
      <xs:element minOccurs="0" name="FriendList" nillable="true" type="tns:ArrayOfFriendList" />
      <xs:element minOccurs="0" name="FriendList1" nillable="true" type="tns:ArrayOfFriendList" />
      <xs:element minOccurs="0" name="FriendRequest" nillable="true" type="tns:ArrayOfFriendRequest" />
      <xs:element minOccurs="0" name="FriendRequest1" nillable="true" type="tns:ArrayOfFriendRequest" />
      <xs:element minOccurs="0" name="PlayerSkins" nillable="true" type="tns:ArrayOfPlayerSkins" />
      <xs:element minOccurs="0" name="Preferences" nillable="true" type="tns:ArrayOfPreferences" />
      <xs:element minOccurs="0" name="Stats" nillable="true" type="tns:ArrayOfStats" />
      <xs:element minOccurs="0" name="email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="idCountry" type="xs:int" />
      <xs:element minOccurs="0" name="idUser" type="xs:int" />
      <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="profilePicture" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="User" nillable="true" type="tns:User" />
  <xs:complexType name="ArrayOfFriendList">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="FriendList" nillable="true" type="tns:FriendList" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfFriendList" nillable="true" type="tns:ArrayOfFriendList" />
  <xs:complexType name="FriendList">
    <xs:sequence>
      <xs:element minOccurs="0" name="User" nillable="true" type="tns:User" />
      <xs:element minOccurs="0" name="User1" nillable="true" type="tns:User" />
      <xs:element minOccurs="0" name="idFriendList" type="xs:int" />
      <xs:element minOccurs="0" name="idUserOne" type="xs:int" />
      <xs:element minOccurs="0" name="idUserTwo" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="FriendList" nillable="true" type="tns:FriendList" />
  <xs:complexType name="ArrayOfFriendRequest">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="FriendRequest" nillable="true" type="tns:FriendRequest" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfFriendRequest" nillable="true" type="tns:ArrayOfFriendRequest" />
  <xs:complexType name="FriendRequest">
    <xs:sequence>
      <xs:element minOccurs="0" name="User" nillable="true" type="tns:User" />
      <xs:element minOccurs="0" name="User1" nillable="true" type="tns:User" />
      <xs:element minOccurs="0" name="description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="idFriendRequest" type="xs:int" />
      <xs:element minOccurs="0" name="idRequested" type="xs:int" />
      <xs:element minOccurs="0" name="idRequester" type="xs:int" />
      <xs:element minOccurs="0" name="status" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="FriendRequest" nillable="true" type="tns:FriendRequest" />
  <xs:complexType name="ArrayOfPlayerSkins">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PlayerSkins" nillable="true" type="tns:PlayerSkins" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPlayerSkins" nillable="true" type="tns:ArrayOfPlayerSkins" />
  <xs:complexType name="PlayerSkins">
    <xs:sequence>
      <xs:element minOccurs="0" name="Skin" nillable="true" type="tns:Skin" />
      <xs:element minOccurs="0" name="User" nillable="true" type="tns:User" />
      <xs:element minOccurs="0" name="idPlayerSkins" type="xs:int" />
      <xs:element minOccurs="0" name="idSkin" type="xs:int" />
      <xs:element minOccurs="0" name="idUser" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PlayerSkins" nillable="true" type="tns:PlayerSkins" />
  <xs:complexType name="Skin">
    <xs:sequence>
      <xs:element minOccurs="0" name="PlayerSkins" nillable="true" type="tns:ArrayOfPlayerSkins" />
      <xs:element minOccurs="0" name="gamesWonToUnlock" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="idSkin" type="xs:int" />
      <xs:element minOccurs="0" name="lock" type="xs:boolean" />
      <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Skin" nillable="true" type="tns:Skin" />
  <xs:complexType name="ArrayOfPreferences">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Preferences" nillable="true" type="tns:Preferences" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPreferences" nillable="true" type="tns:ArrayOfPreferences" />
  <xs:complexType name="Preferences">
    <xs:sequence>
      <xs:element minOccurs="0" name="User" nillable="true" type="tns:User" />
      <xs:element minOccurs="0" name="idPreferences" type="xs:int" />
      <xs:element minOccurs="0" name="idUser" type="xs:int" />
      <xs:element minOccurs="0" name="lastPickedGameboard" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="lastPickedSkin" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Preferences" nillable="true" type="tns:Preferences" />
  <xs:complexType name="ArrayOfStats">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Stats" nillable="true" type="tns:Stats" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfStats" nillable="true" type="tns:ArrayOfStats" />
  <xs:complexType name="Stats">
    <xs:sequence>
      <xs:element minOccurs="0" name="User" nillable="true" type="tns:User" />
      <xs:element minOccurs="0" name="gamesPlayed" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="gamesWon" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="idStats" type="xs:int" />
      <xs:element minOccurs="0" name="idUser" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Stats" nillable="true" type="tns:Stats" />
</xs:schema>