Connected Services/FriendsManagementService/FriendsManagementServiceImplementation1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://tempuri.org/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" name="FriendsManagementServiceImplementation" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="NetTcpBinding_IFriendsManagementService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1" />
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <msf:WindowsTransportSecurity xmlns:msf="http://schemas.microsoft.com/ws/2006/05/framing/policy">
                  <msf:ProtectionLevel>EncryptAndSign</msf:ProtectionLevel>
                </msf:WindowsTransportSecurity>
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://192.168.0.30:8084/?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://192.168.0.30:8084/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/LabyrinthCommon" />
      <xsd:import schemaLocation="http://192.168.0.30:8084/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IFriendsManagementService_SendFriendRequest_InputMessage">
    <wsdl:part name="parameters" element="tns:SendFriendRequest" />
  </wsdl:message>
  <wsdl:message name="IFriendsManagementService_SendFriendRequest_OutputMessage">
    <wsdl:part name="parameters" element="tns:SendFriendRequestResponse" />
  </wsdl:message>
  <wsdl:message name="IFriendsManagementService_SendFriendRequest_LabyrinthExceptionFault_FaultMessage">
    <wsdl:part xmlns:q1="http://schemas.datacontract.org/2004/07/LabyrinthCommon" name="detail" element="q1:LabyrinthException" />
  </wsdl:message>
  <wsdl:message name="IFriendsManagementService_GetMyFriendsList_InputMessage">
    <wsdl:part name="parameters" element="tns:GetMyFriendsList" />
  </wsdl:message>
  <wsdl:message name="IFriendsManagementService_GetMyFriendsList_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetMyFriendsListResponse" />
  </wsdl:message>
  <wsdl:message name="IFriendsManagementService_GetFriendRequestsList_InputMessage">
    <wsdl:part name="parameters" element="tns:GetFriendRequestsList" />
  </wsdl:message>
  <wsdl:message name="IFriendsManagementService_GetFriendRequestsList_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetFriendRequestsListResponse" />
  </wsdl:message>
  <wsdl:message name="IFriendsManagementService_IsFriend_InputMessage">
    <wsdl:part name="parameters" element="tns:IsFriend" />
  </wsdl:message>
  <wsdl:message name="IFriendsManagementService_IsFriend_OutputMessage">
    <wsdl:part name="parameters" element="tns:IsFriendResponse" />
  </wsdl:message>
  <wsdl:message name="IFriendsManagementService_AttendFriendRequest_InputMessage">
    <wsdl:part name="parameters" element="tns:AttendFriendRequest" />
  </wsdl:message>
  <wsdl:message name="IFriendsManagementService_AttendFriendRequest_OutputMessage">
    <wsdl:part name="parameters" element="tns:AttendFriendRequestResponse" />
  </wsdl:message>
  <wsdl:message name="IFriendsManagementService_AttendFriendRequest_LabyrinthExceptionFault_FaultMessage">
    <wsdl:part xmlns:q2="http://schemas.datacontract.org/2004/07/LabyrinthCommon" name="detail" element="q2:LabyrinthException" />
  </wsdl:message>
  <wsdl:message name="IFriendsManagementService_DeleteFriendRequests_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteFriendRequests" />
  </wsdl:message>
  <wsdl:message name="IFriendsManagementService_DeleteFriendRequests_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteFriendRequestsResponse" />
  </wsdl:message>
  <wsdl:message name="IFriendsManagementService_DeleteFriendList_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteFriendList" />
  </wsdl:message>
  <wsdl:message name="IFriendsManagementService_DeleteFriendList_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteFriendListResponse" />
  </wsdl:message>
  <wsdl:portType name="IFriendsManagementService">
    <wsdl:operation name="SendFriendRequest">
      <wsdl:input wsaw:Action="http://tempuri.org/IFriendsManagementService/SendFriendRequest" message="tns:IFriendsManagementService_SendFriendRequest_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFriendsManagementService/SendFriendRequestResponse" message="tns:IFriendsManagementService_SendFriendRequest_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IFriendsManagementService/SendFriendRequestLabyrinthExceptionFault" name="LabyrinthExceptionFault" message="tns:IFriendsManagementService_SendFriendRequest_LabyrinthExceptionFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetMyFriendsList">
      <wsdl:input wsaw:Action="http://tempuri.org/IFriendsManagementService/GetMyFriendsList" message="tns:IFriendsManagementService_GetMyFriendsList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFriendsManagementService/GetMyFriendsListResponse" message="tns:IFriendsManagementService_GetMyFriendsList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetFriendRequestsList">
      <wsdl:input wsaw:Action="http://tempuri.org/IFriendsManagementService/GetFriendRequestsList" message="tns:IFriendsManagementService_GetFriendRequestsList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFriendsManagementService/GetFriendRequestsListResponse" message="tns:IFriendsManagementService_GetFriendRequestsList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="IsFriend">
      <wsdl:input wsaw:Action="http://tempuri.org/IFriendsManagementService/IsFriend" message="tns:IFriendsManagementService_IsFriend_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFriendsManagementService/IsFriendResponse" message="tns:IFriendsManagementService_IsFriend_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AttendFriendRequest">
      <wsdl:input wsaw:Action="http://tempuri.org/IFriendsManagementService/AttendFriendRequest" message="tns:IFriendsManagementService_AttendFriendRequest_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFriendsManagementService/AttendFriendRequestResponse" message="tns:IFriendsManagementService_AttendFriendRequest_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IFriendsManagementService/AttendFriendRequestLabyrinthExceptionFault" name="LabyrinthExceptionFault" message="tns:IFriendsManagementService_AttendFriendRequest_LabyrinthExceptionFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteFriendRequests">
      <wsdl:input wsaw:Action="http://tempuri.org/IFriendsManagementService/DeleteFriendRequests" message="tns:IFriendsManagementService_DeleteFriendRequests_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFriendsManagementService/DeleteFriendRequestsResponse" message="tns:IFriendsManagementService_DeleteFriendRequests_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteFriendList">
      <wsdl:input wsaw:Action="http://tempuri.org/IFriendsManagementService/DeleteFriendList" message="tns:IFriendsManagementService_DeleteFriendList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFriendsManagementService/DeleteFriendListResponse" message="tns:IFriendsManagementService_DeleteFriendList_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="NetTcpBinding_IFriendsManagementService" type="tns:IFriendsManagementService">
    <wsp:PolicyReference URI="#NetTcpBinding_IFriendsManagementService_policy" />
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="SendFriendRequest">
      <soap12:operation soapAction="http://tempuri.org/IFriendsManagementService/SendFriendRequest" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="LabyrinthExceptionFault">
        <soap12:fault use="literal" name="LabyrinthExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetMyFriendsList">
      <soap12:operation soapAction="http://tempuri.org/IFriendsManagementService/GetMyFriendsList" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFriendRequestsList">
      <soap12:operation soapAction="http://tempuri.org/IFriendsManagementService/GetFriendRequestsList" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IsFriend">
      <soap12:operation soapAction="http://tempuri.org/IFriendsManagementService/IsFriend" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AttendFriendRequest">
      <soap12:operation soapAction="http://tempuri.org/IFriendsManagementService/AttendFriendRequest" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="LabyrinthExceptionFault">
        <soap12:fault use="literal" name="LabyrinthExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="DeleteFriendRequests">
      <soap12:operation soapAction="http://tempuri.org/IFriendsManagementService/DeleteFriendRequests" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteFriendList">
      <soap12:operation soapAction="http://tempuri.org/IFriendsManagementService/DeleteFriendList" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="FriendsManagementServiceImplementation">
    <wsdl:port name="NetTcpBinding_IFriendsManagementService" binding="tns:NetTcpBinding_IFriendsManagementService">
      <soap12:address location="net.tcp://192.168.0.30:8094/FriendsManagementService" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://192.168.0.30:8094/FriendsManagementService</wsa10:Address>
        <Identity xmlns="http://schemas.xmlsoap.org/ws/2006/02/addressingidentity">
          <Upn>ROGUEZ\ivanr</Upn>
        </Identity>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>