Connected Services/LobbyManagementService/LobbyManagementServiceImplementation.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://tempuri.org/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" name="LobbyManagementServiceImplementation" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="NetTcpBinding_ILobbyManagementService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1" />
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <msf:WindowsTransportSecurity xmlns:msf="http://schemas.microsoft.com/ws/2006/05/framing/policy">
                  <msf:ProtectionLevel>EncryptAndSign</msf:ProtectionLevel>
                </msf:WindowsTransportSecurity>
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8083/?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8083/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ILobbyManagementService_createLobby_InputMessage">
    <wsdl:part name="parameters" element="tns:createLobby" />
  </wsdl:message>
  <wsdl:message name="ILobbyManagementService_joinToGame_InputMessage">
    <wsdl:part name="parameters" element="tns:joinToGame" />
  </wsdl:message>
  <wsdl:message name="ILobbyManagementService_BroadcastCreated_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:BroadcastCreated" />
  </wsdl:message>
  <wsdl:message name="ILobbyManagementService_BroadcastCreated_InputCallbackMessage">
    <wsdl:part name="parameters" element="tns:BroadcastCreatedResponse" />
  </wsdl:message>
  <wsdl:message name="ILobbyManagementService_BroadcastJoined_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:BroadcastJoined" />
  </wsdl:message>
  <wsdl:message name="ILobbyManagementService_BroadcastJoined_InputCallbackMessage">
    <wsdl:part name="parameters" element="tns:BroadcastJoinedResponse" />
  </wsdl:message>
  <wsdl:portType name="ILobbyManagementService">
    <wsdl:operation name="createLobby">
      <wsdl:input wsaw:Action="http://tempuri.org/ILobbyManagementService/createLobby" message="tns:ILobbyManagementService_createLobby_InputMessage" />
    </wsdl:operation>
    <wsdl:operation name="joinToGame">
      <wsdl:input wsaw:Action="http://tempuri.org/ILobbyManagementService/joinToGame" message="tns:ILobbyManagementService_joinToGame_InputMessage" />
    </wsdl:operation>
    <wsdl:operation name="BroadcastCreated">
      <wsdl:output wsaw:Action="http://tempuri.org/ILobbyManagementService/BroadcastCreated" message="tns:ILobbyManagementService_BroadcastCreated_OutputCallbackMessage" />
      <wsdl:input wsaw:Action="http://tempuri.org/ILobbyManagementService/BroadcastCreatedResponse" message="tns:ILobbyManagementService_BroadcastCreated_InputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation name="BroadcastJoined">
      <wsdl:output wsaw:Action="http://tempuri.org/ILobbyManagementService/BroadcastJoined" message="tns:ILobbyManagementService_BroadcastJoined_OutputCallbackMessage" />
      <wsdl:input wsaw:Action="http://tempuri.org/ILobbyManagementService/BroadcastJoinedResponse" message="tns:ILobbyManagementService_BroadcastJoined_InputCallbackMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="NetTcpBinding_ILobbyManagementService" type="tns:ILobbyManagementService">
    <wsp:PolicyReference URI="#NetTcpBinding_ILobbyManagementService_policy" />
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="createLobby">
      <soap12:operation soapAction="http://tempuri.org/ILobbyManagementService/createLobby" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="joinToGame">
      <soap12:operation soapAction="http://tempuri.org/ILobbyManagementService/joinToGame" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="BroadcastCreated">
      <soap12:operation soapAction="http://tempuri.org/ILobbyManagementService/BroadcastCreated" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BroadcastJoined">
      <soap12:operation soapAction="http://tempuri.org/ILobbyManagementService/BroadcastJoined" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="LobbyManagementServiceImplementation">
    <wsdl:port name="NetTcpBinding_ILobbyManagementService" binding="tns:NetTcpBinding_ILobbyManagementService">
      <soap12:address location="net.tcp://localhost:8093/LobbyManagementService" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://localhost:8093/LobbyManagementService</wsa10:Address>
        <Identity xmlns="http://schemas.xmlsoap.org/ws/2006/02/addressingidentity">
          <Upn>ROGUEZ\ivanr</Upn>
        </Identity>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>