Connected Services/LobbyManagementService/LobbyManagementServiceImplementation.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://tempuri.org/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" name="LobbyManagementServiceImplementation" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="NetTcpBinding_ILobbyManagementService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1" />
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <msf:WindowsTransportSecurity xmlns:msf="http://schemas.microsoft.com/ws/2006/05/framing/policy">
                  <msf:ProtectionLevel>EncryptAndSign</msf:ProtectionLevel>
                </msf:WindowsTransportSecurity>
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8083/?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8083/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/LabyrinthCommon" />
      <xsd:import schemaLocation="http://localhost:8083/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ILobbyManagementService_CreateLobby_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateLobby" />
  </wsdl:message>
  <wsdl:message name="ILobbyManagementService_CreateLobby_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateLobbyResponse" />
  </wsdl:message>
  <wsdl:message name="ILobbyManagementService_CreateLobby_LabyrinthExceptionFault_FaultMessage">
    <wsdl:part xmlns:q1="http://schemas.datacontract.org/2004/07/LabyrinthCommon" name="detail" element="q1:LabyrinthException" />
  </wsdl:message>
  <wsdl:message name="ILobbyManagementService_JoinToGame_InputMessage">
    <wsdl:part name="parameters" element="tns:JoinToGame" />
  </wsdl:message>
  <wsdl:message name="ILobbyManagementService_RemoveUserFromLobby_InputMessage">
    <wsdl:part name="parameters" element="tns:RemoveUserFromLobby" />
  </wsdl:message>
  <wsdl:message name="ILobbyManagementService_NotifyUserHasJoined_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:NotifyUserHasJoined" />
  </wsdl:message>
  <wsdl:message name="ILobbyManagementService_NotifyUserHasJoined_InputCallbackMessage">
    <wsdl:part name="parameters" element="tns:NotifyUserHasJoinedResponse" />
  </wsdl:message>
  <wsdl:message name="ILobbyManagementService_NotifyUserHasLeft_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:NotifyUserHasLeft" />
  </wsdl:message>
  <wsdl:message name="ILobbyManagementService_NotifyUserHasLeft_InputCallbackMessage">
    <wsdl:part name="parameters" element="tns:NotifyUserHasLeftResponse" />
  </wsdl:message>
  <wsdl:message name="ILobbyManagementService_GestMembersList_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:GestMembersList" />
  </wsdl:message>
  <wsdl:message name="ILobbyManagementService_GestMembersList_InputCallbackMessage">
    <wsdl:part name="parameters" element="tns:GestMembersListResponse" />
  </wsdl:message>
  <wsdl:message name="ILobbyManagementService_KickOutPlayer_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:KickOutPlayer" />
  </wsdl:message>
  <wsdl:message name="ILobbyManagementService_KickOutPlayer_InputCallbackMessage">
    <wsdl:part name="parameters" element="tns:KickOutPlayerResponse" />
  </wsdl:message>
  <wsdl:portType name="ILobbyManagementService">
    <wsdl:operation name="CreateLobby">
      <wsdl:input wsaw:Action="http://tempuri.org/ILobbyManagementService/CreateLobby" message="tns:ILobbyManagementService_CreateLobby_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILobbyManagementService/CreateLobbyResponse" message="tns:ILobbyManagementService_CreateLobby_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/ILobbyManagementService/CreateLobbyLabyrinthExceptionFault" name="LabyrinthExceptionFault" message="tns:ILobbyManagementService_CreateLobby_LabyrinthExceptionFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="JoinToGame">
      <wsdl:input wsaw:Action="http://tempuri.org/ILobbyManagementService/JoinToGame" message="tns:ILobbyManagementService_JoinToGame_InputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RemoveUserFromLobby">
      <wsdl:input wsaw:Action="http://tempuri.org/ILobbyManagementService/RemoveUserFromLobby" message="tns:ILobbyManagementService_RemoveUserFromLobby_InputMessage" />
    </wsdl:operation>
    <wsdl:operation name="NotifyUserHasJoined">
      <wsdl:output wsaw:Action="http://tempuri.org/ILobbyManagementService/NotifyUserHasJoined" message="tns:ILobbyManagementService_NotifyUserHasJoined_OutputCallbackMessage" />
      <wsdl:input wsaw:Action="http://tempuri.org/ILobbyManagementService/NotifyUserHasJoinedResponse" message="tns:ILobbyManagementService_NotifyUserHasJoined_InputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation name="NotifyUserHasLeft">
      <wsdl:output wsaw:Action="http://tempuri.org/ILobbyManagementService/NotifyUserHasLeft" message="tns:ILobbyManagementService_NotifyUserHasLeft_OutputCallbackMessage" />
      <wsdl:input wsaw:Action="http://tempuri.org/ILobbyManagementService/NotifyUserHasLeftResponse" message="tns:ILobbyManagementService_NotifyUserHasLeft_InputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation name="GestMembersList">
      <wsdl:output wsaw:Action="http://tempuri.org/ILobbyManagementService/GestMembersList" message="tns:ILobbyManagementService_GestMembersList_OutputCallbackMessage" />
      <wsdl:input wsaw:Action="http://tempuri.org/ILobbyManagementService/GestMembersListResponse" message="tns:ILobbyManagementService_GestMembersList_InputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation name="KickOutPlayer">
      <wsdl:output wsaw:Action="http://tempuri.org/ILobbyManagementService/KickOutPlayer" message="tns:ILobbyManagementService_KickOutPlayer_OutputCallbackMessage" />
      <wsdl:input wsaw:Action="http://tempuri.org/ILobbyManagementService/KickOutPlayerResponse" message="tns:ILobbyManagementService_KickOutPlayer_InputCallbackMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="NetTcpBinding_ILobbyManagementService" type="tns:ILobbyManagementService">
    <wsp:PolicyReference URI="#NetTcpBinding_ILobbyManagementService_policy" />
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="CreateLobby">
      <soap12:operation soapAction="http://tempuri.org/ILobbyManagementService/CreateLobby" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="LabyrinthExceptionFault">
        <soap12:fault use="literal" name="LabyrinthExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="JoinToGame">
      <soap12:operation soapAction="http://tempuri.org/ILobbyManagementService/JoinToGame" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="RemoveUserFromLobby">
      <soap12:operation soapAction="http://tempuri.org/ILobbyManagementService/RemoveUserFromLobby" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="NotifyUserHasJoined">
      <soap12:operation soapAction="http://tempuri.org/ILobbyManagementService/NotifyUserHasJoined" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="NotifyUserHasLeft">
      <soap12:operation soapAction="http://tempuri.org/ILobbyManagementService/NotifyUserHasLeft" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GestMembersList">
      <soap12:operation soapAction="http://tempuri.org/ILobbyManagementService/GestMembersList" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="KickOutPlayer">
      <soap12:operation soapAction="http://tempuri.org/ILobbyManagementService/KickOutPlayer" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="LobbyManagementServiceImplementation">
    <wsdl:port name="NetTcpBinding_ILobbyManagementService" binding="tns:NetTcpBinding_ILobbyManagementService">
      <soap12:address location="net.tcp://localhost:8093/LobbyManagementService" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://localhost:8093/LobbyManagementService</wsa10:Address>
        <Identity xmlns="http://schemas.xmlsoap.org/ws/2006/02/addressingidentity">
          <Upn>ROGUEZ\ivanr</Upn>
        </Identity>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>